@import "public/styles/colors";
@import "public/styles/general";

.SingleProject {
    box-sizing: border-box;
    padding: 20px;
    .title-container {
        display: flex;
        align-items: stretch;
        .fav-container {
            display: flex;
            align-items: center;
            margin-left: 20px;
            svg {
                path {
                    fill: $red;
                }
            }
        }
        h1 {
            color: $indigo;
            margin: 0;
            .vertical-separator {
                color: $orange;
            }
            .project-type {
                color: $blue-gray;
            }
        }
    }
    .status-container {
        max-width: 150px;
    }
    .map-container {
        width: 800px;
        height: 380px;
        position: relative;
        @extend .box;
        overflow: hidden;
        img {
            height: 100%;
            object-fit: cover;
        }
        .pin-container {
            position: absolute;
            border: 2px solid $red;
            border-radius: 2000px;
            padding: 10px;
            svg {
                path {
                    fill: $red;
                }
            }
        }
        @media screen and (max-width: $break-mobile) {
            width: 100%;
        }
    }
    .bottom-container {
        display: flex;
        .creation-container {
            box-sizing: border-box;
            padding: 10px 20px;
            margin: 20px 0;
            max-width: 800px;
            @extend .box;
            p, h3 {
                color: $indigo;
            }
            .owner-container {
                display: flex;
                align-items: center;
                .avatar {
                    overflow: hidden;
                    width: 80px;
                    height: 80px;
                    border-radius: 3000px;
                    margin-right: 20px;
                    border: 1px solid $orange;
                    img {
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .text-container {
                    p,
                    .name {
                        margin: 0;
                    }
                }
            }
        }
    }
}