@import "public/styles/colors";
@import "public/styles/css3-mixins";

.Item {
    border: 2px solid $indigo;
    box-sizing: border-box;
    padding: 10px;
    margin: 15px;
    width: 150px;
    max-height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    @include box-shadow(0, 5px, 15px, rgba($black, .15));
    header {
        h3 {
            margin: 0;
            padding: 0 0 5px;
            color: $indigo;
            border-bottom: 1px solid $orange;
        }
        .type-container {
            p {
                margin: 0;
                color: $blue-gray;
            }
        }
    }
    .main-icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
        svg {
            path {
                fill: $orange;
            }
        }
    }
    .settings-container {
        display: flex;
        justify-content: center;
    }
}