@import 'public/styles/colors';
@import 'public/styles/css3-mixins';

$break-mobile: 768px;
$break-tablet: 1024px;

img {
    width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

button,
.btn {
    border: none;
    padding: 5px 10px;
    background-color: $primary-light;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-weight: 500;
    transition: background-color .3s ease-in-out;
    text-transform: uppercase;
    &:focus {
        outline: none;
    }
    &:hover,
    &:active,
    &:focus {
        background-color: $primary-main;
    }
}

::selection {
    background-color: $secondary-light;
    color: $white;
}

.box {
    border-radius: 4px;
    @include box-shadow(0, 2px, 4px, rgba($black, .15));
}