@import 'public/styles/colors';
@import 'public/styles/css3-mixins';

$break-mobile: 768px;
$break-tablet: 1024px;

img {
    width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

button,
.btn {
    border: none;
    padding: 5px 10px;
    background-color: $indigo;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-weight: 500;
    transition: box-shadow .3s ease-in-out;
    &:focus {
        outline: none;
    }
    &:hover,
    &:active,
    &:focus {
        @include box-shadow(0, 0, 0, 2px, $orange);
    }
}

::selection {
    background-color: $orange;
    color: $white;
}

.box {
    border: 2px solid $indigo;
    border-radius: 10px;
    @include box-shadow(0, 5px, 15px, rgba($black, .15));
}