@import "public/styles/colors";
@import "public/styles/general";

.Sidebar {
    width: 250px;
    flex-shrink: 0;
    background-color: $primary-dark;
    color: $white;
    position: relative;
    z-index: 300;
    transition: all 0.3s ease-in-out;
    .avatar-container {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 50px;
        height: 50px;
        border-radius: 2000px;
        overflow: hidden;
        border: 2px solid $white;
        img {
            height: 100%;
            object-fit: cover;
        }
    }
    nav {
        ul {
            li {
                display: flex;
                width: 100%;
                .nav-link {
                    box-sizing: border-box;
                    padding: 20px;
                    width: 100%;
                    transition: all 0.3s ease-in-out;
                    position: relative;
                    display: flex;
                    align-items: center;
                    .icon-container {
                        margin-right: 10px;
                    }
                    &:hover {
                        &::before {
                            max-height: 70%;
                        }
                    }
                    &.active {
                        background-color: $primary-main;
                        &:hover {
                            background-color: darken($primary-main, 10%);
                        }
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        left: 10px;
                        width: 1px;
                        height: 100%;
                        max-height: 0;
                        transition: max-height 0.3s ease-in-out;
                        background-color: $white;
                    }
                }
            }
        }
    }
    @media screen and (max-width: $break-mobile) {
        transform: translateX(-250px);
        width: 0;
        &.on {
            transform: translateX(0);
            width: 100vw;
        }
    }
}

.burger-menu {
    width: 30px;
    height: 30px;
    border-radius: 2000px;
    background-color: $primary-dark;
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 340;
    cursor: pointer;
    transition: transform 0.3s cubic-bezier(.68,-.55,.27,1.55);
    transform-origin: 50% 50%;
    .bar {
        width: 15px;
        height: 2px;
        background-color: $white;
        margin: 1px 0;
    }
    &.on {
        transform: rotate(90deg);
    }
}
