@import 'public/styles/colors';
@import 'public/styles/general';

.Sidebar {
    width: 250px;
    flex-shrink: 0;
    background-color: $indigo;
    color: $white;
    position: relative;
    z-index: 300;
    transition: all .3s ease-in-out;
    .avatar-container {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 50px;
        height: 50px;
        border-radius: 2000px;
        overflow: hidden;
        border: 1px solid $white;
        img {
            height: 100%;
            object-fit: cover;
        }
    }
    nav {
        ul {
            li {
                display: flex;
                width: 100%;
                .nav-link {
                    box-sizing: border-box;
                    padding: 20px;
                    width: 100%;
                    transition: all .3s ease-in-out;
                    position: relative;
                    &.active {
                        background-color: $blue;
                    }
                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        left: 10px;
                        width: 1px;
                        height: 100%;
                        max-height: 0;
                        transition: max-height .3s ease-in-out;
                        background-color: white;
                    }
                    &:hover {
                        &::before {
                            max-height: 70%;
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width: $break-mobile) {
        transform: translateX(-250px);
        width: 0;
        &.on {
            transform: translateX(0);
            width: 100vw;
        }
    }
}

.burger-menu {
    width: 30px;
    height: 30px;
    border-radius: 2000px;
    background-color: $indigo;
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 340;
    cursor: pointer;
    .bar {
        width: 15px;
        height: 2px;
        background-color: $white;
        margin: 1px 0;
        transition: all .3s ease-in-out;
        transform-origin: 50% 50%;
    }
    &.on {
        .top {
            transform: translateY(4px) rotate(45deg);
        }
        .middle {
            opacity: 0;
        }
        .bottom {
            transform: translateY(-4px) rotate(-45deg);
        }
    }
}