@import 'public/styles/ellipsis';

.App {
    height: 100vh;
    display: flex;
    .content {
        height: 100vh;
        width: 100%;
        overflow: scroll;
        box-sizing: border-box;
        .mobile-title {
            text-align: center;
            margin-bottom: 10px;
            color: $primary-dark;
        }
    }
}